---
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <Navbar />
  <section>
    <div class:list={["logoContainer", "animateIn"]}>
      <a href="/">
        <img src="/assets/thredsLogo.png" alt="threds logo" />
      </a>
    </div>
    <p>
      Welcome to ThredsAI, the innovative online platform that empowers you to
      reimagine your wardrobe like never before. With our cutting-edge AI
      technology, you can breathe new life into your existing clothing items and
      unlock endless outfit possibilities. Are you ready to revolutionize your
      style effortlessly? Let's dive in!
    </p>
  </section>
  <section class="cardSection">
    <div class="arrowGroup">
      <svg
        width="3"
        height="11"
        viewBox="0 0 3 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="arrowSvg"
      >
        <rect width="3" height="11" fill="#e7e7e7"></rect>
      </svg>

      <svg
        width="24"
        height="72"
        viewBox="0 0 24 72"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.9393 71.0607C11.5251 71.6464 12.4749 71.6464 13.0607 71.0607L22.6066 61.5147C23.1924 60.9289 23.1924 59.9792 22.6066 59.3934C22.0208 58.8076 21.0711 58.8076 20.4853 59.3934L12 67.8787L3.51472 59.3934C2.92893 58.8076 1.97918 58.8076 1.3934 59.3934C0.807612 59.9792 0.807612 60.9289 1.3934 61.5147L10.9393 71.0607ZM10.5 0L10.5 70H13.5L13.5 0L10.5 0Z"
          fill="#E7E7E7"></path>
      </svg>
    </div>

    <Card
      title={"1. UPLOAD YOUR WARDROBE"}
      text={"Say goodbye to fashion confusion and hello to effortless style! With ThredsAI, transforming your wardrobe starts with a simple snap. Just upload a picture of yourself and your favorite clothing items, and our AI technology will work its magic."}
      image={"assets/vectorStage1.png"}
    />
    <Card
      flipped={true}
      title={"2. Let AI Work Its Magic"}
      text={"Watch in awe as our advanced algorithms analyze every detail of your outfit. From the elements and colors to the unique styles, ThredsAI understands your fashion preferences better than anyone else. Our AI-powered system curates stunning combinations you never thought possible, taking your style game to new heights."}
      image={"assets/vectorStage2.png"}
    />
    <Card
      title={"3. Mix and Match with Ease"}
      text={"Now it's time to play dress-up! ThredsAI empowers you to become your own personal stylist. With the freedom to mix and match any clothing items, you can create endless outfit combinations that reflect your individuality. Whether you're experimenting with casual looks, professional attire, or standout party ensembles, the possibilities are limitless."}
      image={"assets/vectorStage3.png"}
    />
  </section>
  <section>
    <Button href="/" invert={true} text={"Join Wait List"} />
  </section>
</Layout>

<script>
  import { lerp } from "../utilities";
  const arrowSvg = document.querySelector(".arrowSvg");
  const rectSvg = document.querySelector(".arrowSvg")?.querySelector("rect");
  const cardSection = document.querySelector(".cardSection");
  const arrowCalculation = {
    arrowTopToClientCenterY: 11,
    currentHeight: 11,
  };

  function animateSvg() {
    if (cardSection && arrowSvg && rectSvg) {
      const cardSectionHeight = cardSection.getBoundingClientRect().height;
      arrowCalculation.arrowTopToClientCenterY = Math.min(
        cardSectionHeight,
        Math.max(
          0,
          window.innerHeight / 2 - arrowSvg.getBoundingClientRect().top
        )
      );
      arrowCalculation.currentHeight = lerp(
        arrowCalculation.currentHeight,
        arrowCalculation.arrowTopToClientCenterY,
        0.2
      );
      arrowSvg.setAttribute(
        "height",
        `${Math.max(0, arrowCalculation.currentHeight - 100)}`
      );
      arrowSvg.setAttribute(
        "viewBox",
        `0 0 3 ${Math.max(0, arrowCalculation.currentHeight - 100)}`
      );
      rectSvg.setAttribute(
        "height",
        `${Math.max(0, arrowCalculation.currentHeight - 100)}`
      );
    }
    requestAnimationFrame(animateSvg);
  }

  requestAnimationFrame(animateSvg);
</script>

<style lang="scss">
  body {
    height: 100%;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 2em 3em;
    font-size: 0.6em;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    .learnMoreContainer {
      transform: translateY(-100%);
      opacity: 1;
      transition: all 0.5s;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1em;
    scroll-behavior: smooth;
    color: var(--off-white);

    .logoContainer {
      margin-top: 4.25em;
      // width: clamp(4vw, 32em, 35em);
      width: 32em;
      @media screen and (max-width: 550px) {
        width: 90%;
      }
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: 768px) {
      gap: 0.3em;
    }
    p {
      margin-top: 0.5em;
      width: 40%;
      @media screen and (max-width: 1100px) {
        width: 95%;
        text-align: justify;
      }
      @media screen and (max-width: 600px) {
        font-size: 4vw;
      }

      height: 288px;
      text-align: center;
      font-weight: 200;
      font-size: 1.2em;
      line-height: 38px;
    }
  }

  .cardSection {
    position: relative;
    gap: 2em;
    padding: 50px 0;
    z-index: 1;

    .arrowGroup {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      z-index: -1;

      svg {
        width: 100%;
      }
    }
  }
</style>

<script>
  const toAnimate =
    document.body.querySelectorAll<HTMLDivElement>(".animateIn");
  setTimeout(() => {
    let elementCount = 0;
    for (const element of toAnimate) {
      if (element) {
        element.style.transitionDelay = `${200 * elementCount}ms`;
        element.style.transform = "translateY(0)";
        element.style.opacity = "1";
      }
      elementCount++;
    }
  }, 0);
</script>


