@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* resets */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

/* variables */

:root {
  --primary-color: #22475c;
  --off-white: #e7e7e7;
}

body {
  background-color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

main {
  max-width: 1440px;
  margin: auto;
}
